:root {
  --primary-color: #ffffff;
  --backGround-color: #daded4;
  --tertiary-color: #39603d;
  --fourth-color: #a3bcb6;
  --fifth-color: #3c403d;
}
/* body {
  padding: 1rem;
} */
a {
  font-weight: bold;
  text-decoration: none;
  color: var(--tertiary-color);
}
