.image-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  max-height: 30rem;
  /* height: auto; */
  object-fit: cover;
  opacity: 0; /* Initially hide all images */
  transition: opacity 0.5s ease-in-out; /* Smooth fade transitions */
}

.image-container .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0; /* Initially hide text overlays */
  transition: opacity 0.5s ease-in-out;
  color: white; /* Adjust text color for better visibility */
}

.image-container.active img:nth-child(1) {
  opacity: 1; /* Show first image initially */
}

.image-container.active .text-overlay:nth-child(1) {
  opacity: 1; /* Show first text overlay initially */
}

/* Change image every 5 seconds (adjust timing as needed) */
.image-container {
  animation: slide 5s infinite alternate;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
  .image-container {
    max-width: 100%;
  }
}
